html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, rgb(40, 48, 72), rgb(133, 147, 152));
}

li a, nav a{
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0,0,0,0.2);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a:hover{
    background: rgba(0,0,0,0.3);
}

.toggleNav{
    display: none;
}

img{
    width: 100%;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

input{
    padding: 10px;
    border: 0;
}

section, footer{
    text-align: center;
    background: rgba(0,0,0,0.2);
    padding: 20px;
    margin: 20px 0;
    color: white;
    font-weight: 100;
}

.intro{
  text-align: center;
  display: block;
  font-size: 2rem;
  color: rgba(255,255,255,0.6);
  max-width: 1030px;
  padding:15px;
  margin:0 auto;
  line-height: 3rem;
  font-weight: 200;
}

.intro a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.intro a:hover{
  color: rgba(255, 255, 255, 0.9);
  background-color: transparent;
}

/*Flex Container*/
.flex-nav ul{
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/*Flex Itens*/
.flex-nav li{
    flex: 3;
}

.flex-nav .social{
    flex: 1;
}


@media all and (max-width:1000px){
    .flex-nav ul{
        flex-wrap: wrap;
    }

    .flex-nav li{
        flex: 1 1 50%;
        font-size: 22px;
    }

    .flex-nav .social{
        flex: 1 1 16.66666665%;
    }

}

@media all and (max-width:570px){
    .flex-nav li{
        flex-basis: 100%;
        font-size: 22px;
    }

    /* Flex Container */
    .wrapper{
        display: flex;
        flex-direction: column;
    }

    /* Flex items */
    .wrapper > * {
        order:9999;
    }

    .flex-nav{
        order:1;
    }

    .toggleNav {
        display: block;
    }

    .flex-nav ul{
        display: none;
    }

    .flex-nav ul.open {
        display: flex;
    }

    .top{
        order:2;
    }
}

/* Timeline */
@media (min-width: 1100px) {
    #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }
  
    #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      background-color: #bdbdbd;
      border-radius: 9px;
      box-shadow: 0px 0px 2px 8px #f7f7f7;
    }
}
/* Some Cool Stuff */
.demo-card:nth-child(1) {
  order: 1;/* Alterar quando adicionar cards */
}

.demo-card:nth-child(2) {
  order: 5;/* Alterar quando adicionar cards */
}

.demo-card:nth-child(3) {
  order: 2;/* Alterar quando adicionar cards */
}

.demo-card:nth-child(4) {
  order: 6;/* Alterar quando adicionar cards */
}

.demo-card:nth-child(5) {
  order: 3;/* Alterar quando adicionar cards */
}

.demo-card:nth-child(6) {
  order: 7;/* Alterar quando adicionar cards */
}

.demo-card:nth-child(7) {
  order: 4; /* Alterar quando adicionar cards */
}


/* Fonts */
body {
  font-family: 'Roboto', sans-serif;
}

#timeline {
  padding: 20px 0;
  background: none;
  /* border-top: 1px solid rgba(191, 191, 191, 0.4); */
  /* border-bottom: 1px solid rgba(191, 191, 191, 0.4); */
}
#timeline h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 50px;
  margin-top: 0px;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
#timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1100px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 2400px;  /* Mudar sempre que adicionar projetos a página principal */
    margin: 0 auto;
  }
}
#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1100px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
#timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
  height:420px;
}

@media (min-width: 480px) {
  #timeline .demo-card {
    /* max-width: 72%; */
    max-width:450px;
    height: 490px;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 720px) {
  #timeline .demo-card {
    /* max-width: 47%; */
    max-width:450px;
    height: 490px;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 1100px) {
  #timeline .demo-card {
    max-width: 450px;
    height: 500px;  /* Alterar se quiser aumentar o tamanho do card */
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
    max-height: 540px;
  }
  #timeline .demo-card:nth-child(odd) {
    margin-right: 45px;
  }
  #timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  #timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  #timeline .demo-card:nth-child(even) {
    margin-left: 45px;
  }
  #timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  #timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  #timeline .demo-card:nth-child(2) {
    margin-top: 250px;  /* Alterar se quiser aumentar a distancia entre os cards */
  }
}
#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .demo-card .head .number-box {
  display: inline;
  /* float: left; */
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
  text-transform: uppercase;
  /* font-size: 1.3rem; */
  font-weight: inherit;
  letter-spacing: 1.8px;
  margin: 0;
  padding: 6px 0px;
  line-height: 1rem;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 {
    font-size: 150%;
    line-height: 1.6rem;
  }
}
#timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}
#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 10px;
  height: 77%;
  position: relative;
  text-align: left;
}

@media (min-width: 480px) {
  #timeline .demo-card .body {
    height: 80%;
    /* height: 400px; Alterar se quiser aumentar o corpo do card*/
  }
}

@media (min-width: 720px) {
  #timeline .demo-card .body {
    height: 80%;
    /* height: 400px; Alterar se quiser aumentar o corpo do card*/
  }
}
@media (min-width: 1100px) {
  #timeline .demo-card .body {
    height: 80%;
    /* height: 400px; Alterar se quiser aumentar o corpo do card*/
  }
}


#timeline .demo-card .body p {
  font-size: 14px;
  color: rgba(0,0,0,0.8);
  line-height: 18px;
  margin-bottom: 10px;
  margin-top:5px;
}
@media(max-width:479px){
  #timeline .demo-card .body p{
    height: 78px;
    margin-bottom: 0;
  }
}

#timeline .demo-card .body img {
  display: block;
  width: 100%;
  height: 75%; /* Alterar para mudar o tamanho da imagem dentro da imagem */
}

@media(max-width:479px){
  #timeline .demo-card .body img {
    display: block;
    width: 100%;
    height: 67%; /* Alterar para mudar o tamanho da imagem dentro da imagem */
  }
}

@media(min-width:480px){
  #timeline .demo-card .body img {
    display: block;
    width: 100%;
    height: 77%; /* Alterar para mudar o tamanho da imagem dentro da imagem */
  }
}

@media(min-width:720px){
  #timeline .demo-card .body img {
    display: block;
    width: 100%;
    height: 77%; /* Alterar para mudar o tamanho da imagem dentro da imagem */
  }
}

#timeline .demo-card .body>.link-sm {
  display: flex;
  justify-content: right;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  height: 25px;
}

#timeline .demo-card .body p a {
  display: inline-block;
  margin-top: 5px;
  color: rgba(0,0,0,0.8);
}
#timeline .demo-card .body p a:hover{
  background: rgba(0,0,0,0.05);
}

#timeline .demo-card--step1 {
  background-color: #46b8e9;
}
#timeline .demo-card--step1 .head::after {
  border-color: #46b8e9;
}
#timeline .demo-card--step2 {
  background-color: #3ee9d1;
}
#timeline .demo-card--step2 .head::after {
  border-color: #3ee9d1;
}
#timeline .demo-card--step3 {
  background-color: #ce43eb;
}
#timeline .demo-card--step3 .head::after {
  border-color: #ce43eb;
}
#timeline .demo-card--step4 {
  background-color: #4d92eb;
}
#timeline .demo-card--step4 .head::after {
  border-color: #4d92eb;
}
#timeline .demo-card--step5 {
  background-color: #46b8e9;
}
#timeline .demo-card--step5 .head::after {
  border-color: #46b8e9;
}

#timeline .demo-card--step6 {
  background-color: #3ee9d1;
}
#timeline .demo-card--step6 .head::after {
  border-color: #3ee9d1;
}

#timeline .demo-card--step7 {
  background-color: #ce43eb;
}
#timeline .demo-card--step7 .head::after {
  border-color: #ce43eb;
}
